body{background-color: aliceblue;}
#barMenu{background-color: #141e3b; margin: 0;}
#barNav.bg-light{background-color: #141e3b !important;}
#barNav ul li a{color: #d8d7d7 !important; font-size: 1.05rem;}
#barNav ul li a:hover{color: #ffffff !important;}
.navbar-light .navbar-brand{color: #f5f5f5 !important; font-size: 1.5rem;}

#aboutrow{margin: 1.25em 0;}
#about{background-image: url(../images/codeimg2.jpg); color: #f5f5f5; width: 100%; padding-left:5em; }
#about div{width: 80%; margin: auto;}
#about div h1{padding-bottom: 10px;}

#foot{
    height: 100px; background-color: rgba(6, 4, 5, .9); color: #f5f5f5; text-align: center; 
    width: 100%; padding-top: 30px;
}
#foot .row{margin: 0px;}

#foot ul{list-style: none; margin: 0px; padding: 0px}

#foot ul li{display: inline;}

#socialMedia{font-size: 2rem;list-style:none;}

#socialMedia li{ display: inline; padding-left: 30px;}